div{
    background-color:darkgreen;
    color: white;
    
}

.career{
    background-color: burlywood;
    color: white;
}

.Education{
    background-color: orange;
    color:black;
}

.skill{
    background-color: darkseagreen;
    color: white;
}
.project{
    background-color: darkgrey;
    color: white;
}
.lang{
    background-color: darkorange;
    color: white;
}
.Hobbies{
    background-color: lightskyblue;
    color: white;
}
.declaration{
    background-color:hotpink;
    color: white;

}
